<footer class="site-footer" aria-label="Site footer links">
    <div class="site-footer-right">
        <p>Created by <a class="liam-link" href="https://www.webdevliam.uk" target="_blank" rel="noopener noreferrer"
                aria-label="webDevLiam Website"><strong>webDevLiam</strong></a> <a href="https://github.com/liamoconnor87" target="_blank"
                rel="noopener noreferrer" aria-label="My GitHub Page"><i class="fa-brands fa-github"
                    aria-hidden="true"></i></a></p>
    </div>
    <div class="site-footer-rune" aria-hidden="true">
        {% include 'components/ui/rune_partition.html' %}
    </div>
    <div class="site-footer-left">
        <p><a href="https://buymeacoffee.com/webdevliam" target="_blank" rel="noopener noreferrer" aria-label="Buy Me a Coffee">Buy me a coffee :)</a></p>
    </div>
</footer>
