.add-actions-section {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
}

.add-actions-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0.25rem;
}

.add-actions-field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.add-actions-field.section-action-field {
    max-width: 3rem;
    min-width: 3rem;
    flex: 0 0 auto;
}

.add-actions-name-field {
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
    flex: 0 0 auto;
}

.add-actions-level-field {
    max-width: 3rem;
    min-width: 3rem;
    align-items: center;
}

.add-actions-stat-name-field {
    width: 8rem;
    min-width: 8rem;
    max-width: 8rem;
    flex: 0 0 auto;
}

.add-actions-stat-value-field {
    max-width: 3rem;
    min-width: 3rem;
    align-items: center;
}

.add-actions-input {
    font-size: 1.05rem;
    height: 2.58rem;
}

.add-actions-name-field select.add-actions-input {
    height: 2.58rem;
}

.add-actions-level-field .add-actions-input,
.add-actions-stat-value-field .add-actions-input {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    appearance: textfield;
    -moz-appearance: textfield;
}

.add-actions-level-field .add-actions-input::-webkit-outer-spin-button,
.add-actions-level-field .add-actions-input::-webkit-inner-spin-button,
.add-actions-stat-value-field .add-actions-input::-webkit-outer-spin-button,
.add-actions-stat-value-field .add-actions-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.add-actions-level-field .add-actions-label,
.add-actions-stat-value-field .add-actions-label {
    text-align: center;
    padding-left: 0;
    width: 100%;
}


.add-actions-field.section-action-field .add-actions-label {
    min-width: 0;
    text-align: center;
    width: 3rem;
    font-size: 0.5rem;
    padding: 0.25rem 0;
}

#add-class-field-dropdown,
#add-class-field-level,
#add-class-submit-btn,
#add-custom-stat-field-name,
#add-custom-stat-field-value,
#add-custom-stat-submit-btn-wrapper,
#close-add-action-btn-wrapper {
    display: none;
}

@media (max-width: 499px) {
    .add-actions-section {
        padding: 0 0.25rem;
    }

    .add-actions-name-field {
        max-width: calc(8rem - 3.25rem);
    }

    .add-actions-stat-name-field {
        max-width: calc(8rem - 3.25rem);
    }

    .add-actions-stat-value-field {
        width: 3rem;
        min-width: 3rem;
        max-width: 3rem;
    }
}
