:root {
    --primary-color: #22243f;
    --secondary-color: #7fffd4;
    --primary-gap: 0.5rem;
    --secondary-gap: 0.25rem;
    --skill-gap: 1rem;
    --light-dark: white;
}

html {
    font-size: 17px;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Hide arrows in WebKit browsers like Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinner in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.pointer {
    cursor: pointer !important;
}

.field-margins {
    margin-right: var(--primary-gap);
    margin-bottom: var(--primary-gap);
}

.skill-margin-left {
    margin-left: var(--skill-gap) !important;
}

.grp-char-fields {
    padding-left: 0;
    max-width: calc(6rem + var(--primary-gap));
}

.char-form {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.char-field-lg, .char-field, .char-field-m, .char-field-sm, .char-field-sm-col, .char-field-square-lg, .char-field-square, .char-field-square-sm, .char-field-square-btn {
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    height: 5rem;
    width: 20rem;
    box-sizing: border-box;
    padding: 0;
}

.char-field-square-lg {
    height: 10rem;
    width: 10rem;
    text-align: center;
}

.char-field {
    width: 15rem;
}

.char-field-m {
    width: 10rem;
}

.char-field-sm, .char-field-sm-col {
    width: 6rem;
    height: 5rem;
}

.char-field-sm-col {
    height: calc(5rem - var(--secondary-gap));
}

.char-field-square-sm {
    width: calc(5rem - var(--secondary-gap));
    height: calc(5rem - var(--secondary-gap));
    text-align: center;
}

.char-field-square, .char-field-square-btn {
    width: 5rem !important;
    text-align: center;
}

.char-field-square-btn > .char-field-input-square {
    color: var(--light-dark) !important;
    cursor: pointer;
    opacity: .7;
}

.char-field-input, .char-field-input-square-lg, .char-field-input-square-lg-wtoggle, .char-field-input-square, .char-field-label, .char-field-label-square, .char-field-btn, .char-field-label-xp {
    width: inherit !important;
    all: unset;
    box-sizing: border-box;
    color: var(--secondary-color);
    padding-left: var(--primary-gap);
}

.char-field-input {
    font-size: 1.7rem;
    padding-top: .9rem;
}

.char-field-input-square, .char-field-input-square-lg, .char-field-input-square-lg-wtoggle {
    font-size: 2.8rem;
    text-align: center;
    padding-left: 0;
}

.char-field-input-square-lg {
    height: inherit !important;
    font-size: 4.8rem;
}

.char-field-input-square-lg-wtoggle {
    height: calc(100% - 3.5rem) !important;
    font-size: 4.8rem;
}

.char-field-label, .char-field-label-square, .char-field-btn, .char-field-label-xp {
    opacity: .7;
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: .2rem;
}

.char-field-label-xp {
    text-align: right;
    padding-right: var(--primary-gap);
}

.char-field-label-square, .char-field-btn {
    padding-left: 0;
}

.char-field-btn-del {
    color: var(--light-dark);
    text-decoration: none;
    opacity: .7;
    font-size: .7rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-right: .35rem;
}

.char-field-input-switch {
    padding-top: .2rem;
}

.hd-tweaks {
    font-size: 1.7rem;
    padding-top: .9rem;
}

.proficient-hl {
    border: 1px solid var(--secondary-color) !important;
}