{% if show_guest_landing_panel %}
<div class="guest-landing-panel-card">
    <h2 class="guest-landing-title">Welcome to Julie's Demiplane: A D&D browser based Character Sheet</h2>

    <p class="guest-landing-text">
        Create a quick character sheet from the field below. Your guest character is saved in this browser.
        <br>
        <br>
        {% if show_guest_name_entry %}
        Sign up to save your character permanently, you can add more characters, add inventory, build trackers and customise the colours!
        {% else %}
        Go to your character:
        <a class="guest-landing-link" href="/">"{{ guest_character_name or 'New Character' }}"</a>
        {% endif %}
    </p>
</div>
{% endif %}
