{% if field_type != "hidden" %}
    <label for="{{ table }}-{{ field }}">{{ field | title | replace("_", " ") }}</label>
{% endif %}

{% if field_type == "select" %}
    <select id="{{ table }}-{{ field }}" name="{{ table }}-{{ field }}">
        {{ options | safe }}
    </select>
{% else %}
    {% if field_type == "checkbox" %}
        {% set value = 1 %}
    {% else %}
        {% set value = field_value %}
    {% endif %}

    <input type="{{ field_type }}" id="{{ table }}-{{ field }}" name="{{ table }}-{{ field }}" value="{{ value }}" {%
        if field_type=="checkbox" and field_value == 1 %}checked{% endif %}>
{% endif %}
{% if field_type != "hidden" %}
    <br>
{% endif %}