<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julie's Demiplane</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/home/liamoc/webdevliam/julies_demiplane/static/css/dnd_sheet.css">
</head>
<body>
    <!-- <h3>Character</h3> -->
    <form action="/" method="POST" class="char-form container">
        <div class="char-form-alignment col">

            <div class="row">
                <input type="hidden" id="character-id" name="character-id" value="01964ee7cdcc1641bd25fe601c157a58">
                <div class="char-field-lg field-margins">
                    <input class="char-field-input" type="text" id="character-name" name="character-name" value="Julie">
                    <label class="char-field-label" for="character-name">Character Name</label>
                </div>

                <div class="char-field-square field-margins">
                    <input class="char-field-input-square" type="number" id="character-level" name="character-level" value="9">
                    <label class="char-field-label-square" for="character-level">Level</label>
                </div>

                <div class="char-field field-margins">
                    <label class="char-field-label" for="character-race">Race</label>
                    <input class="char-field-input" type="text" id="character-race" name="character-race" value="Gnome">
                </div>

                <div class="char-field field-margins">
                    <label class="char-field-label" for="character-background">Background</label>
                    <input class="char-field-input" type="text" id="character-background" name="character-background" value="Acolyte">
                </div>

                <div class="char-field field-margins">
                    <label class="char-field-label" for="character-alignment">Alignment</label>
                    <input class="char-field-input" type="text" id="character-alignment" name="character-alignment"
                        value="Chaotic Good">
                </div>

            </div>

            <div class="row">
                <input type="hidden" id="class_to_character-id" name="class_to_character-id" value="">
                <input type="hidden" id="class_to_character-character_id" name="class_to_character-character_id" value="">
                <!-- <select id="class_to_character-class_id" name="class_to_character-class_id">
                    <option value="">Please select a class</option>
                    <option value="01964ee74fee7f273726aeeb455da83e">artificer</option>
                    <option value="01964ee74ff39fc5e3fa7d9e7d08d838">barbarian</option>
                    <option value="01964ee74ff7c13fe2e05776f9272881">bard</option>
                    <option value="01964ee74ffcb9b6deee6c82437e0484">cleric</option>
                    <option value="01964ee75001df5d231f7cdd2c0da2f3">druid</option>
                    <option value="01964ee750059f646536232a68c48036">fighter</option>
                    <option value="01964ee7500af3073c1292a1d9e9004e">monk</option>
                    <option value="01964ee7500ef2be24237d6a682583ba">paladin</option>
                    <option value="01964ee750137b8cea067b6ac022e559">ranger</option>
                    <option value="01964ee7501752a6f222de8f95a5b64c">rogue</option>
                    <option value="01964ee7501cf5bb5919fd1fd8d61909">sorcerer</option>
                    <option value="01964ee750203b207f186adfec396039">warlock</option>
                    <option value="01964ee750257194e9fea6cf77be4dd5">wizard</option>
                </select> -->

                <!-- This is a representation of how i want it to look -->
                <div class="char-field-m">
                    <input class="char-field-input" type="text" id="class_to_character-class_id" name="class_to_character-class_id"
                        value="Wizard">
                    <label class="char-field-label" for="class_to_character-class_id">Class</label>
                </div>
                <div class="char-field-square field-margins">
                    <input class="char-field-input-square" type="number" id="class_to_character-level" name="class_to_character-level"
                        value="8">
                    <label class="char-field-label-square" for="class_to_character-level">Class Level</label>
                    <a class="char-field-btn-del" href="/{{ character_id }}/class/{{ class['id'] }}/remove">
                        <span for="class_to_character-level">x</span>
                    </a>
                </div>

                <div class="char-field-m">
                    <input class="char-field-input" type="text" id="class_to_character-class_id" name="class_to_character-class_id"
                        value="Monk">
                    <label class="char-field-label" for="class_to_character-class_id">Class</label>
                </div>
                <div class="char-field-square field-margins">
                    <input class="char-field-input-square" type="number" id="class_to_character-level" name="class_to_character-level"
                        value="1">
                    <label class="char-field-label-square" for="class_to_character-level">Class Level</label>
                    <a class="char-field-btn-del" href="/{{ character_id }}/class/{{ class['id'] }}/remove">
                        <span for="class_to_character-level">x</span>
                    </a>
                </div>
                <div class="char-field-square-btn field-margins">
                    <span class="char-field-input-square">+</span>
                    <span class="char-field-btn" for="class_to_character-level">Add Class</span>
                </div>


            </div>
            <br>
            <div class="row">
                <div class="char-field-square field-margins">
                    <label class="char-field-label-square" for="character-armour_class">Armour Class</label>
                    <input class="char-field-input-square" type="number" id="character-armour_class" name="character-armour_class" value="12">
                </div>

                <div class="char-field-square field-margins">
                    <label class="char-field-label-square" for="character-initiative">Initiative</label>
                    <input class="char-field-input-square" type="number" id="character-initiative" name="character-initiative" value="5">
                </div>

                <div class="char-field-square field-margins">
                    <label class="char-field-label-square" for="character-speed">Speed</label>
                    <input class="char-field-input-square" type="number" id="character-speed" name="character-speed" value="25">
                </div>

                <div class="char-field-square field-margins">
                    <label class="char-field-label-square" for="character-proficiency">Proficiency</label>
                    <input class="char-field-input-square" type="number" id="character-proficiency" name="character-proficiency" value="2">
                </div>

                <div class="char-field-sm field-margins">
                    <label class="char-field-label-square text-center" for="character-passive_wisdom">Passive wisdom</label>
                    <input class="char-field-input-square" type="number" id="character-passive_wisdom" name="character-passive_wisdom" value="2">
                </div>

                <div class="char-field-m field-margins">
                    <label class="char-field-label-xp" for="character-xp">XP</label>
                    <input class="char-field-input" type="number" id="character-xp" name="character-xp" value="355000">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="char-field-square-lg field-margins">
                    <label class="char-field-label-square" for="character-health_points">HP</label>
                    <input class="char-field-input-square-lg" type="number" id="character-health_points" name="character-health_points" value="200">
                </div>

                <div class="col grp-char-fields">
                    <div class="char-field-sm-col field-margins">
                        <label class="char-field-label-square text-center" for="character-hit_dice">Hit Dice</label>
                        <input class="char-field-input-square hd-tweaks" type="text" id="character-hit_dice" name="character-hit_dice" value="20D12">
                    </div>

                    <div class="char-field-sm-col field-margins">
                        <label class="char-field-label-square text-center" for="character-temporary_hit_points">Temp HP</label>
                        <input class="char-field-input-square" type="number" id="character-temporary_hit_points"
                            name="character-temporary_hit_points" value="12">
                    </div>
                </div>

                <div class="char-field-square-lg field-margins">
                    <label class="char-field-label-square" for="character-current_health_points">Current HP</label>
                    <input class="char-field-input-square-lg" type="number" id="character-current_health_points" name="character-current_health_points"
                        value="212">
                </div>
            </div>
            <br>
            <h4>Abilities & Skills</h4>
            <div class="row">
                <input type="hidden" id="strength-id" name="strength-id" value="01964ee89914e58a7f909e07cc937b93">
                <input type="hidden" id="strength-character_id" name="strength-character_id" value="01964ee7cdcc1641bd25fe601c157a58">

                <div class="char-field-square-lg field-margins">
                    <label class="char-field-label-square" for="strength-value">Strength</label>
                    <input class="char-field-input-square-lg" id="strength-value" name="strength-value" value="8">
                </div>

                <div class="col grp-char-fields">

                    <div class="char-field-sm-col field-margins">
                        <label class="char-field-label-square text-center" for="strength-modifier">Modifier</label>
                        <input class="char-field-input-square" type="number" id="strength-modifier" name="strength-modifier" value="-1">

                    </div>

                    <div class="char-field-sm-col field-margins pointer proficient-hl">
                        <label class="char-field-label-square text-center" for="strength_skills-saving_throw">Saving throw</label>
                        <input class="char-field-input-square" type="number" id="strength_skills-saving_throw"
                            name="strength_skills-saving_throw" value="1">
                    </div>

                </div>
                <input type="hidden" id="strength_skills-id" name="strength_skills-id" value="01964ee8991956b31c9e4ed27895b17d">
                <input type="hidden" id="strength_skills-strength_id" name="strength_skills-strength_id"
                value="01964ee89914e58a7f909e07cc937b93">

                <div class="col grp-char-fields">
                    <div class="char-field-sm-col field-margins skill-margin-left pointer proficient-hl">
                        <label class="char-field-label-square text-center" for="strength_skills-athletics">Athletics</label>
                        <input class="char-field-input-square" type="number" id="strength_skills-athletics" name="strength_skills-athletics" value="1">
                    </div>
                </div>


                <!-- These will be set via clicking a skill stat - Saving throw/ atheltics -->
                <!-- <label for="strength-proficient">Proficient</label> -->
                <input type="hidden" id="strength-proficient" name="strength-proficient" value="1" checked="">
                <!-- <label for="strength_skills-athletics_proficient">Athletics proficient</label> -->
                <input type="hidden" id="strength_skills-athletics_proficient" name="strength_skills-athletics_proficient" value="1"
                checked="">

            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <!-- <input type="hidden" id="strength-id" name="strength-id" value="01964ee89914e58a7f909e07cc937b93">
        <input type="hidden" id="strength-character_id" name="strength-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="strength-value">Value</label>
        <input type="number" id="strength-value" name="strength-value" value="8">
        <br>
        <label for="strength-modifier">Modifier</label>
        <input type="number" id="strength-modifier" name="strength-modifier" value="-1">
        <br>
        <label for="strength-proficient">Proficient</label>
        <input type="checkbox" id="strength-proficient" name="strength-proficient" value="1" checked="">
        <br>
        <input type="hidden" id="strength_skills-id" name="strength_skills-id" value="01964ee8991956b31c9e4ed27895b17d">
        <input type="hidden" id="strength_skills-strength_id" name="strength_skills-strength_id"
            value="01964ee89914e58a7f909e07cc937b93">
        <label for="strength_skills-saving_throw">Saving throw</label>
        <input type="number" id="strength_skills-saving_throw" name="strength_skills-saving_throw" value="1">
        <br>
        <label for="strength_skills-athletics">Athletics</label>
        <input type="number" id="strength_skills-athletics" name="strength_skills-athletics" value="1">
        <br>
        <label for="strength_skills-athletics_proficient">Athletics proficient</label>
        <input type="checkbox" id="strength_skills-athletics_proficient" name="strength_skills-athletics_proficient"
            value="1" checked=""> -->
        <br>
        <h4>dexterity</h4>
        <input type="hidden" id="dexterity-id" name="dexterity-id" value="01964ee8991d7fb56770a7044f515b7f">
        <input type="hidden" id="dexterity-character_id" name="dexterity-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="dexterity-value">Value</label>
        <input type="number" id="dexterity-value" name="dexterity-value" value="12">
        <br>
        <label for="dexterity-modifier">Modifier</label>
        <input type="number" id="dexterity-modifier" name="dexterity-modifier" value="1">
        <br>
        <label for="dexterity-proficient">Proficient</label>
        <input type="checkbox" id="dexterity-proficient" name="dexterity-proficient" value="1">
        <br>
        <input type="hidden" id="dexterity_skills-id" name="dexterity_skills-id"
            value="01964ee89922fb9fffa972576fb64786">
        <input type="hidden" id="dexterity_skills-dexterity_id" name="dexterity_skills-dexterity_id"
            value="01964ee8991d7fb56770a7044f515b7f">
        <label for="dexterity_skills-saving_throw">Saving throw</label>
        <input type="number" id="dexterity_skills-saving_throw" name="dexterity_skills-saving_throw" value="1">
        <br>
        <label for="dexterity_skills-acrobatics">Acrobatics</label>
        <input type="number" id="dexterity_skills-acrobatics" name="dexterity_skills-acrobatics" value="1">
        <br>
        <label for="dexterity_skills-acrobatics_proficient">Acrobatics proficient</label>
        <input type="checkbox" id="dexterity_skills-acrobatics_proficient" name="dexterity_skills-acrobatics_proficient"
            value="1">
        <br>
        <label for="dexterity_skills-sleight_of_hand">Sleight of hand</label>
        <input type="number" id="dexterity_skills-sleight_of_hand" name="dexterity_skills-sleight_of_hand" value="1">
        <br>
        <label for="dexterity_skills-sleight_of_hand_proficient">Sleight of hand proficient</label>
        <input type="checkbox" id="dexterity_skills-sleight_of_hand_proficient"
            name="dexterity_skills-sleight_of_hand_proficient" value="1">
        <br>
        <label for="dexterity_skills-stealth">Stealth</label>
        <input type="number" id="dexterity_skills-stealth" name="dexterity_skills-stealth" value="3">
        <br>
        <label for="dexterity_skills-stealth_proficient">Stealth proficient</label>
        <input type="checkbox" id="dexterity_skills-stealth_proficient" name="dexterity_skills-stealth_proficient"
            value="1" checked="">
        <br>
        <h4>constitution</h4>
        <input type="hidden" id="constitution-id" name="constitution-id" value="01964ee899262966ae59ae5732de209d">
        <input type="hidden" id="constitution-character_id" name="constitution-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="constitution-value">Value</label>
        <input type="number" id="constitution-value" name="constitution-value" value="14">
        <br>
        <label for="constitution-modifier">Modifier</label>
        <input type="number" id="constitution-modifier" name="constitution-modifier" value="2">
        <br>
        <label for="constitution-proficient">Proficient</label>
        <input type="checkbox" id="constitution-proficient" name="constitution-proficient" value="1">
        <br>
        <input type="hidden" id="constitution_skills-id" name="constitution_skills-id"
            value="01964ee8992aef5d739125cd9b88b9d9">
        <input type="hidden" id="constitution_skills-constitution_id" name="constitution_skills-constitution_id"
            value="01964ee899262966ae59ae5732de209d">
        <label for="constitution_skills-saving_throw">Saving throw</label>
        <input type="number" id="constitution_skills-saving_throw" name="constitution_skills-saving_throw" value="2">
        <br>
        <h4>intelligence</h4>
        <input type="hidden" id="intelligence-id" name="intelligence-id" value="01964ee8992f9c653385c6a878078fd2">
        <input type="hidden" id="intelligence-character_id" name="intelligence-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="intelligence-value">Value</label>
        <input type="number" id="intelligence-value" name="intelligence-value" value="20">
        <br>
        <label for="intelligence-modifier">Modifier</label>
        <input type="number" id="intelligence-modifier" name="intelligence-modifier" value="5">
        <br>
        <label for="intelligence-proficient">Proficient</label>
        <input type="checkbox" id="intelligence-proficient" name="intelligence-proficient" value="1" checked="">
        <br>
        <input type="hidden" id="intelligence_skills-id" name="intelligence_skills-id"
            value="01964ee8993446db11db8da6cd9ef3c3">
        <input type="hidden" id="intelligence_skills-intelligence_id" name="intelligence_skills-intelligence_id"
            value="01964ee8992f9c653385c6a878078fd2">
        <label for="intelligence_skills-saving_throw">Saving throw</label>
        <input type="number" id="intelligence_skills-saving_throw" name="intelligence_skills-saving_throw" value="7">
        <br>
        <label for="intelligence_skills-arcana">Arcana</label>
        <input type="number" id="intelligence_skills-arcana" name="intelligence_skills-arcana" value="5">
        <br>
        <label for="intelligence_skills-arcana_proficient">Arcana proficient</label>
        <input type="checkbox" id="intelligence_skills-arcana_proficient" name="intelligence_skills-arcana_proficient"
            value="1">
        <br>
        <label for="intelligence_skills-history">History</label>
        <input type="number" id="intelligence_skills-history" name="intelligence_skills-history" value="5">
        <br>
        <label for="intelligence_skills-history_proficient">History proficient</label>
        <input type="checkbox" id="intelligence_skills-history_proficient" name="intelligence_skills-history_proficient"
            value="1">
        <br>
        <label for="intelligence_skills-investigation">Investigation</label>
        <input type="number" id="intelligence_skills-investigation" name="intelligence_skills-investigation" value="5">
        <br>
        <label for="intelligence_skills-investigation_proficient">Investigation proficient</label>
        <input type="checkbox" id="intelligence_skills-investigation_proficient"
            name="intelligence_skills-investigation_proficient" value="1">
        <br>
        <label for="intelligence_skills-nature">Nature</label>
        <input type="number" id="intelligence_skills-nature" name="intelligence_skills-nature" value="5">
        <br>
        <label for="intelligence_skills-nature_proficient">Nature proficient</label>
        <input type="checkbox" id="intelligence_skills-nature_proficient" name="intelligence_skills-nature_proficient"
            value="1">
        <br>
        <label for="intelligence_skills-religion">Religion</label>
        <input type="number" id="intelligence_skills-religion" name="intelligence_skills-religion" value="5">
        <br>
        <label for="intelligence_skills-religion_proficient">Religion proficient</label>
        <input type="checkbox" id="intelligence_skills-religion_proficient"
            name="intelligence_skills-religion_proficient" value="1">
        <br>
        <h4>wisdom</h4>
        <input type="hidden" id="wisdom-id" name="wisdom-id" value="01964ee89938c5963b411bb29444c6c0">
        <input type="hidden" id="wisdom-character_id" name="wisdom-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="wisdom-value">Value</label>
        <input type="number" id="wisdom-value" name="wisdom-value" value="12">
        <br>
        <label for="wisdom-modifier">Modifier</label>
        <input type="number" id="wisdom-modifier" name="wisdom-modifier" value="1">
        <br>
        <label for="wisdom-proficient">Proficient</label>
        <input type="checkbox" id="wisdom-proficient" name="wisdom-proficient" value="1" checked="">
        <br>
        <input type="hidden" id="wisdom_skills-id" name="wisdom_skills-id" value="01964ee8993dd18635488e24832420d6">
        <input type="hidden" id="wisdom_skills-wisdom_id" name="wisdom_skills-wisdom_id"
            value="01964ee89938c5963b411bb29444c6c0">
        <label for="wisdom_skills-saving_throw">Saving throw</label>
        <input type="number" id="wisdom_skills-saving_throw" name="wisdom_skills-saving_throw" value="3">
        <br>
        <label for="wisdom_skills-animal_handling">Animal handling</label>
        <input type="number" id="wisdom_skills-animal_handling" name="wisdom_skills-animal_handling" value="1">
        <br>
        <label for="wisdom_skills-animal_handling_proficient">Animal handling proficient</label>
        <input type="checkbox" id="wisdom_skills-animal_handling_proficient"
            name="wisdom_skills-animal_handling_proficient" value="1">
        <br>
        <label for="wisdom_skills-insight">Insight</label>
        <input type="number" id="wisdom_skills-insight" name="wisdom_skills-insight" value="1">
        <br>
        <label for="wisdom_skills-insight_proficient">Insight proficient</label>
        <input type="checkbox" id="wisdom_skills-insight_proficient" name="wisdom_skills-insight_proficient" value="1">
        <br>
        <label for="wisdom_skills-medicine">Medicine</label>
        <input type="number" id="wisdom_skills-medicine" name="wisdom_skills-medicine" value="1">
        <br>
        <label for="wisdom_skills-medicine_proficient">Medicine proficient</label>
        <input type="checkbox" id="wisdom_skills-medicine_proficient" name="wisdom_skills-medicine_proficient"
            value="1">
        <br>
        <label for="wisdom_skills-perception">Perception</label>
        <input type="number" id="wisdom_skills-perception" name="wisdom_skills-perception" value="1">
        <br>
        <label for="wisdom_skills-perception_proficient">Perception proficient</label>
        <input type="checkbox" id="wisdom_skills-perception_proficient" name="wisdom_skills-perception_proficient"
            value="1">
        <br>
        <label for="wisdom_skills-survival">Survival</label>
        <input type="number" id="wisdom_skills-survival" name="wisdom_skills-survival" value="1">
        <br>
        <label for="wisdom_skills-survival_proficient">Survival proficient</label>
        <input type="checkbox" id="wisdom_skills-survival_proficient" name="wisdom_skills-survival_proficient"
            value="1">
        <br>
        <h4>charisma</h4>
        <input type="hidden" id="charisma-id" name="charisma-id" value="01964ee89942f24c27d96da0cac1dfca">
        <input type="hidden" id="charisma-character_id" name="charisma-character_id"
            value="01964ee7cdcc1641bd25fe601c157a58">
        <label for="charisma-value">Value</label>
        <input type="number" id="charisma-value" name="charisma-value" value="10">
        <br>
        <label for="charisma-modifier">Modifier</label>
        <input type="number" id="charisma-modifier" name="charisma-modifier" value="0">
        <br>
        <label for="charisma-proficient">Proficient</label>
        <input type="checkbox" id="charisma-proficient" name="charisma-proficient" value="1">
        <br>
        <input type="hidden" id="charisma_skills-id" name="charisma_skills-id" value="01964ee899466b587bbaa99a9ceeeec6">
        <input type="hidden" id="charisma_skills-charisma_id" name="charisma_skills-charisma_id"
            value="01964ee89942f24c27d96da0cac1dfca">
        <label for="charisma_skills-saving_throw">Saving throw</label>
        <input type="number" id="charisma_skills-saving_throw" name="charisma_skills-saving_throw" value="0">
        <br>
        <label for="charisma_skills-deception">Deception</label>
        <input type="number" id="charisma_skills-deception" name="charisma_skills-deception" value="0">
        <br>
        <label for="charisma_skills-deception_proficient">Deception proficient</label>
        <input type="checkbox" id="charisma_skills-deception_proficient" name="charisma_skills-deception_proficient"
            value="1">
        <br>
        <label for="charisma_skills-intimidation">Intimidation</label>
        <input type="number" id="charisma_skills-intimidation" name="charisma_skills-intimidation" value="0">
        <br>
        <label for="charisma_skills-intimidation_proficient">Intimidation proficient</label>
        <input type="checkbox" id="charisma_skills-intimidation_proficient"
            name="charisma_skills-intimidation_proficient" value="1">
        <br>
        <label for="charisma_skills-performance">Performance</label>
        <input type="number" id="charisma_skills-performance" name="charisma_skills-performance" value="0">
        <br>
        <label for="charisma_skills-performance_proficient">Performance proficient</label>
        <input type="checkbox" id="charisma_skills-performance_proficient" name="charisma_skills-performance_proficient"
            value="1">
        <br>
        <label for="charisma_skills-persuasion">Persuasion</label>
        <input type="number" id="charisma_skills-persuasion" name="charisma_skills-persuasion" value="2">
        <br>
        <label for="charisma_skills-persuasion_proficient">Persuasion proficient</label>
        <input type="checkbox" id="charisma_skills-persuasion_proficient" name="charisma_skills-persuasion_proficient"
            value="1" checked="">
        <!-- <input type="hidden" id="class_to_character-id" name="class_to_character-id" value="">
        <input type="hidden" id="class_to_character-character_id" name="class_to_character-character_id" value="">
        <label for="class_to_character-class_id">Class id</label>
        <select id="class_to_character-class_id" name="class_to_character-class_id">
            <option value="">Please select a class</option>
            <option value="01964ee74fee7f273726aeeb455da83e">artificer</option>
            <option value="01964ee74ff39fc5e3fa7d9e7d08d838">barbarian</option>
            <option value="01964ee74ff7c13fe2e05776f9272881">bard</option>
            <option value="01964ee74ffcb9b6deee6c82437e0484">cleric</option>
            <option value="01964ee75001df5d231f7cdd2c0da2f3">druid</option>
            <option value="01964ee750059f646536232a68c48036">fighter</option>
            <option value="01964ee7500af3073c1292a1d9e9004e">monk</option>
            <option value="01964ee7500ef2be24237d6a682583ba">paladin</option>
            <option value="01964ee750137b8cea067b6ac022e559">ranger</option>
            <option value="01964ee7501752a6f222de8f95a5b64c">rogue</option>
            <option value="01964ee7501cf5bb5919fd1fd8d61909">sorcerer</option>
            <option value="01964ee750203b207f186adfec396039">warlock</option>
            <option value="01964ee750257194e9fea6cf77be4dd5">wizard</option>
        </select>
        <label for="class_to_character-level">Level</label>
        <input type="number" id="class_to_character-level" name="class_to_character-level" value=""> -->
        <br>
        <h3>Feats &amp; Traits</h3>
        <input type="hidden" id="feat_and_trait-id" name="feat_and_trait-id" value="">
        <input type="hidden" id="feat_and_trait-character_id" name="feat_and_trait-character_id" value="">
        <label for="feat_and_trait-name">Name</label>
        <input type="text" id="feat_and_trait-name" name="feat_and_trait-name" value="">
        <br>
        <label for="feat_and_trait-description">Description</label>
        <input type="text" id="feat_and_trait-description" name="feat_and_trait-description" value="">
        <br>
        <h3>Inventory</h3>
        <input type="hidden" id="inventory-id" name="inventory-id" value="">
        <input type="hidden" id="inventory-character_id" name="inventory-character_id" value="">
        <label for="inventory-name">Name</label>
        <input type="text" id="inventory-name" name="inventory-name" value="">
        <br>
        <label for="inventory-description">Description</label>
        <input type="text" id="inventory-description" name="inventory-description" value="">
        <br>
        <label for="inventory-quantity">Quantity</label>
        <input type="number" id="inventory-quantity" name="inventory-quantity" value="">
        <br>
        <br>
        <br>
        <button type="submit">Save</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <style class="darkreader darkreader--sync" media="screen"></style>
</body>
</html>