{# Single Ability Score Component - Pass: ability_name, ability #}
<div>
    {# Hidden fields #}
    <input type="hidden" id="{{ ability_name }}-id" name="{{ ability_name }}-id" value="{{ ability.id or '' }}">
    <input type="hidden" id="{{ ability_name }}-character_id" name="{{ ability_name }}-character_id" value="{{ ability.character_id or '' }}">

    {# Ability Value #}
    <div>
        <label for="{{ ability_name }}-value">{{ ability_name | title }}</label>
        <input type="number" id="{{ ability_name }}-value" name="{{ ability_name }}-value" value="{% if ability.value is not none %}{{ ability.value }}{% endif %}">
    </div>

    {# Ability Modifier (calculated) #}
    <div>
        <div>
            <label for="{{ ability_name }}-modifier">Modifier</label>
            <input type="number" id="{{ ability_name }}-modifier" name="{{ ability_name }}-modifier" value="{% if ability.modifier is not none %}{{ ability.modifier }}{% endif %}" readonly>
        </div>

        {# Proficiency checkbox (hidden, for saving throw proficiency) #}
        <input type="checkbox" id="{{ ability_name }}-proficient" name="{{ ability_name }}-proficient" value="1" {% if ability.proficient == 1 %}checked{% endif %}>
    </div>
</div>
