<div class="abilities-section">
    <h4>Abilities & Skills</h4>
    {% for ability_data in abilities %}
        {% set ability_name = ability_data.ability_name %}
        {% set ability = ability_data.ability %}
        {% set skills = ability_data.skills %}
        {% set skill_list = ability_data.skill_list %}
        <div class="abilities-section-row">
            {% include 'components/ability_score.html' %}
            {% include 'components/skills_group.html' %}
        </div>
    {% endfor %}
</div>
<br>
