{# Character Basic Information Component #}
<h4>Character</h4>
<div class="row">
    {# Hidden ID field #}
    <input type="hidden" id="character-id" name="character-id" value="{{ character.id or '' }}">

    <div class="char-info-row">
        {# Name #}
        <div class="char-info-field">
            <label for="character-name">Name</label>
            <input type="text" id="character-name" name="character-name" value="{{ character.name or '' }}" class="fixed-input">
        </div>
        {# Race #}
        <div class="char-info-field">
            <label for="character-race">Race</label>
            <input type="text" id="character-race" name="character-race" value="{{ character.race or '' }}" class="fixed-input">
        </div>
        {# Background #}
        <div class="char-info-field">
            <label for="character-background">Background</label>
            <input type="text" id="character-background" name="character-background" value="{{ character.background or '' }}" class="fixed-input">
        </div>
        {# Alignment #}
        <div class="char-info-field">
            <label for="character-alignment">Alignment</label>
            <input type="text" id="character-alignment" name="character-alignment" value="{{ character.alignment or '' }}" class="fixed-input">
        </div>
    </div>
    <div class="char-info-row">
        {# Level (calculated, disabled) #}
        <div class="char-info-field level-square">
            <input type="number" id="character-level" name="character-level" value="{{ character.level or '' }}" disabled class="fixed-input">
            <label for="character-level">Level</label>
        </div>
    </div>
</div>
<br>
