{# Combat Stats Component #}
<h4>Combat</h4>
<div>
    {# Armour Class #}
    <div>
        <input type="number" id="character-armour_class" name="character-armour_class" value="{{ character.armour_class or '' }}">
        <label for="character-armour_class">Armour Class</label>
    </div>

    {# Initiative #}
    <div>
        <input type="number" id="character-initiative" name="character-initiative" value="{{ character.initiative or '' }}">
        <label for="character-initiative">Initiative</label>
    </div>

    {# Speed #}
    <div>
        <input type="number" id="character-speed" name="character-speed" value="{{ character.speed or '' }}">
        <label for="character-speed">Speed</label>
    </div>
</div>

<div class="row">
    {# Hit Dice and Temp HP Column #}
    <div>
        {# Hit Dice #}
        <div>
            <input type="text" id="character-hit_dice" name="character-hit_dice" value="{{ character.hit_dice or '' }}">
            <label for="character-hit_dice">Hit Dice</label>
        </div>

        {# Temporary Hit Points #}
        <div>
            <input type="number" id="character-temporary_hit_points" name="character-temporary_hit_points" value="{{ character.temporary_hit_points or '' }}">
            <label for="character-temporary_hit_points">Temp HP</label>
        </div>
    </div>

    {# Max Health Points #}
    <div>
        <input type="number" id="character-health_points" name="character-health_points" value="{{ character.health_points or '' }}">
        <label for="character-health_points">Health Points</label>
    </div>

    {# Current Health Points (calculated, disabled) #}
    <div>
        <input type="number" id="character-current_health_points" name="character-current_health_points" value="{{ character.current_health_points or '' }}" disabled>
        <label for="character-current_health_points">Current Health Points</label>
    </div>
</div>
<br>
