<div class="feats-section">
    <h4>Feats & Traits</h4>
    {% if feats_and_traits %}
        {% for feat in feats_and_traits %}
            <div class="feats-section-row">
                <div class="feats-section-field feats-section-name-field">
                    <label for="feat_and_trait-name-{{ feat.id }}" class="feats-section-label">Name</label>
                    <input type="text" id="feat_and_trait-name-{{ feat.id }}"
                           name="feat_and_trait-name-{{ feat.id }}" value="{{ feat.name }}" readonly class="feats-section-input">
                </div>

                <div class="feats-section-field feats-section-description-field">
                    <label for="feat_and_trait-description-{{ feat.id }}" class="feats-section-label">Description</label>
                    <input type="text" id="feat_and_trait-description-{{ feat.id }}"
                           name="feat_and_trait-description-{{ feat.id }}" value="{{ feat.description }}" readonly class="feats-section-input">
                </div>

                <div class="feats-section-field feats-section-action-field section-action-field">
                    <button type="button" id="feat-and-trait-delete-{{ feat.id }}" class="feats-section-btn section-action-btn"
                            onclick="window.location.href='/{{ character_id }}/feat-and-trait/{{ feat.id }}/remove'">−</button>
                    <label for="feat-and-trait-delete-{{ feat.id }}" class="feats-section-label section-action-label">Remove</label>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="feats-section-row feats-section-add-row">
        <div class="feats-section-field feats-section-name-field">
            <label for="feat_and_trait-name" class="feats-section-label">New Feat/Trait Name</label>
            <input type="text" id="feat_and_trait-name"
                   name="feat_and_trait-name" placeholder="Enter name" class="feats-section-input">
        </div>

        <div class="feats-section-field feats-section-description-field">
            <label for="feat_and_trait-description" class="feats-section-label">Description</label>
            <input type="text" id="feat_and_trait-description"
                   name="feat_and_trait-description" placeholder="Enter description" class="feats-section-input">
        </div>

        <div class="feats-section-field feats-section-action-field section-action-field">
            <button type="submit" id="feat-and-trait-add" class="feats-section-btn section-action-btn">+</button>
            <label for="feat-and-trait-add" class="feats-section-label section-action-label">Add</label>
        </div>
    </div>
</div>
<br>
