<div class="card-item-section inventory-section">
    <h4>
        Inventory
    </h4>

    <div id="inventory-list">
    {% if inventory %}
        {% for item in inventory %}
            {% include 'components/inventory_row.html' %}
        {% endfor %}
    {% endif %}
    </div>

    {% if not inventory_at_capacity %}
    <div class="card-item-row card-item-add-row">
        <div class="card-item-top-row">
            <div class="card-item-field card-item-action-field section-action-field" id="add-inventory-btn-wrapper">
                <button type="button" id="add-inventory-btn" class="card-item-btn section-action-btn">+</button>
                <label for="add-inventory-btn" class="card-item-label section-action-label">Add Item</label>
            </div>

            <div class="card-item-field card-item-name-field" id="add-inventory-field-name">
                <label for="inventory-name" class="card-item-label">New Item</label>
                <input type="text" id="inventory-name" name="inventory-name" placeholder="Enter item" class="card-item-input">
            </div>

            <div class="card-item-field card-item-quantity-field" id="add-inventory-field-quantity">
                <label for="inventory-quantity" class="card-item-label">Qty</label>
                <input type="number" id="inventory-quantity" name="inventory-quantity" value="1" min="0" class="card-item-input">
            </div>

            <div class="card-item-field card-item-action-field section-action-field" id="add-inventory-submit-btn-wrapper">
                <button type="button" id="inventory-add" class="card-item-btn section-action-btn"
                    hx-post="/characters/{{ character_id }}/inventory/add"
                    hx-target="#inventory-list"
                    hx-swap="beforeend"
                    hx-include="#inventory-name, #inventory-description, #inventory-quantity"><i class="bi bi-check-lg"></i></button>
                <label for="inventory-add" class="card-item-label section-action-label">Add</label>
            </div>

            <div class="card-item-field card-item-action-field section-action-field" id="close-inventory-btn-wrapper">
                <button type="button" id="close-inventory-field-x-btn" class="card-item-btn section-action-btn">×</button>
                <label for="close-inventory-field-x-btn" class="card-item-label section-action-label">Close</label>
            </div>
        </div>

        <div class="card-item-field card-item-description-field" id="add-inventory-field-description">
            <label for="inventory-description" class="card-item-label">Description</label>
            <textarea id="inventory-description" name="inventory-description" rows="2" placeholder="Enter description" class="card-item-input card-item-description-input"></textarea>
        </div>
    </div>
    {% endif %}
</div>
