{# Proficiency and Passive Wisdom Component #}
<div>
    {# Proficiency Bonus #}
    <div>
        <input type="number" id="character-proficiency" name="character-proficiency" value="{{ character.proficiency or '' }}">
        <label for="character-proficiency">Proficiency</label>
    </div>

    {# Passive Wisdom #}
    <div>
        <input type="number" id="character-passive_wisdom" name="character-passive_wisdom" value="{{ character.passive_wisdom or '' }}">
        <label for="character-passive_wisdom">Passive Wisdom</label>
    </div>

    {# XP #}
    <div>
        <input type="number" id="character-xp" name="character-xp" value="{{ character.xp or '' }}">
        <label for="character-xp">XP</label>
    </div>
</div>
<br>
