{# Skills Group Component - Pass: ability_name, skills, skill_list #}
<div class="abilities-section-skills-wrapper">
    {# Hidden fields #}
    <input type="hidden" id="{{ ability_name }}_skills-id" name="{{ ability_name }}_skills-id" value="{{ skills.id or '' }}">
    <input type="hidden" id="{{ ability_name }}_skills-{{ ability_name }}_id" name="{{ ability_name }}_skills-{{ ability_name }}_id" value="{{ skills[ability_name ~ '_id'] or '' }}">

    {# Individual Skills #}
    {% if skill_list %}
        <div class="abilities-section-skills-grid">
            {% for skill_name in skill_list %}
                {% set display_wrapper_classes = 'abilities-section-skills-item' %}
                {% set display_value_id = ability_name ~ '_skills-' ~ skill_name %}
                {% set display_value_classes = 'abilities-section-display-value' %}
                {% set display_value = skills[skill_name] if skills[skill_name] is not none else '' %}
                {% set display_label_classes = 'abilities-section-display-label' %}
                {% set display_label_text = skill_name | replace('_', ' ') | title %}
                {% set display_toggle = true %}
                {% set display_checkbox_id = ability_name ~ '_skills-' ~ skill_name ~ '_proficient' %}
                {% set display_checkbox_name = ability_name ~ '_skills-' ~ skill_name ~ '_proficient' %}
                {% set display_checkbox_checked = skills[skill_name ~ '_proficient'] == 1 %}
                {% include 'components/abilities_display_field.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
