{% include 'components/classes/classes_section.html' %}
<div id="custom-stats-section-container" hx-swap-oob="innerHTML">
    {% include 'components/stats/custom_stats_section.html' %}
</div>
<div id="character-level-field-container" class="character-info-main-field character-info-square-field character-info-level-field{% if not character.level %} d-none{% endif %}" hx-swap-oob="outerHTML">
    <input type="number" id="character-level" name="character-level" value="{{ character.level or '' }}" disabled class="field-input field-input--no-spinner character-info-input">
    <label for="character-level" class="field-label character-info-label">Level</label>
</div>

<div id="add-class-action-container" hx-swap-oob="innerHTML">
    {% include 'components/classes/add_class_action.html' %}
</div>
